/*Formato General*/
	* {
		font-family: "century gothic", "segoe ui", sans-serif;
		scroll-behavior: smooth;
	}
	body,
	h1,
	h2,
	h3,
	h4,
	section > p,
	.menu,
	.index dd,
	.sub {
		margin: 0;
		padding: 0;
	}
	hr {
		border: 1px solid #dedede;
	}
	a {
		color: #124;
		text-decoration: none;
	}
/*Encabezado y Pie de Pagina*/
	#header,
	#footer {
		padding: 1.5rem 0;
		color: #ccd;
		background-color: #124;
		text-align: center;
	}
	#footer{
		padding: .5rem 0;
	}
	#footer iframe {
		width: 100%;
		min-height: 240px;
		border: none;
	}
	#footer a {
		color: #ccc;
		font-weight: bold;
	}
/*Barra de Navegacion*/
	nav {
		max-height: 3rem;
		margin: .5rem 0 -1.5rem;
		padding: .5rem .5rem 0;
		background-color: #ccd;
		overflow: hidden;
	}
	.menu li {
		display: inline-block;
		padding: .5rem 1rem;
		border-radius: .5rem .5rem 0 0;
		line-height: 2rem;
	}
	.menu li:hover,
	.active {
		opacity: 1;
		background-color: white;
	}
	/*Tabla de Contenidos*/
	.index {
		max-width: 380px;
		margin: 0 auto 1rem;
		border-radius: 1rem;
		box-shadow: 5px 5px 10px #ccc, 2.5px 2.5px 10px #ccc inset;
		padding: 12.5px;
		list-style: none;
	}
	.index dt {
		margin: .25rem -1.5rem;
		border-radius: .25rem;
		padding: .5rem 1.5rem;
		color: #dedede;
		background-color: #124;
		font-weight: bold;
		font-size: 1.5rem;
	}
	.index dd {
		border-radius: .25rem;
		padding: .25rem .5rem;
	}
	.index dd:hover {
		background-color: #ccd;
	}
/*Menu Principal*/
	article .index-back {
		width: 2rem;
		padding: .5rem;
		opacity: 0.25;
	}
	article .index-back:hover,
	.link:hover {
		width: 3rem;
		padding: 0;
		opacity: 1;
	}
	.link {
		display: block;
		width: 3rem;
		height: 3rem;
		margin: auto;
	}
	.link .index-back {
		width: 2rem;
		border-radius: 2rem;
		padding: .5rem;
		opacity: 0.5;
	}
	.link:hover .index-back {
		width: 3rem;
		padding: 0;
		box-shadow: 0 0 8px #ccc;
		opacity: 1;
	}
/*Contenido Principal*/
	main {
		max-width: 1320px;
		margin: auto;
		padding: 1rem;
	}
	article {
		display: none;
		margin: .5rem auto;
		border-radius: 1rem;
		padding: 0 0 1.5rem;
		box-shadow: 0 0 .5rem grey;
		opacity: 0.95;
		overflow: hidden;
	}
	article > header{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}
	section,
	article {
		padding: 1rem;
	}
	article:target {
		display: block;
	}
/*Secciones de Contenido*/
	main section {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: .5rem;
		padding: 10px 0;
	}
	section .header {
		width: 100%;
		margin: 0 -1rem;
		padding: .5rem 1rem;
		color: #ccd;
		background-color: #124;
	}
	section h4 {
		border-bottom: 2px solid #124;
	}
/*Articulos de Definicion*/
	.article {
		flex: 1 0 min(90%, 240px);
		border-radius: .5rem;
		padding: 1rem;
		background-color: #dde;
	}
	.article:hover {
		box-shadow: 0 0 16px grey inset;
	}
	.article .example {
		width: 100%;
		min-height: 205px;
		outline: none;
		border-radius: .25rem;
		filter: drop-shadow(0 0 .5rem #666);
	}
	.article audio.example {
		min-height: 0;
	}
/*Formulario de Contacto*/
	#contact {
		max-width: 540px;
		display: flex;
		flex-direction: column;
		gap: .5rem;
		padding: 1.5rem 1rem;
		margin: auto;
		text-align: left;
	}
	#contact label {
		display: none;
	}
	#contact input,
	#contact textarea,
	#contact select,
	#contact button{
		outline: none;
		border-radius: .3rem;
		border: 0;
		padding: .5rem 1rem;
		font-weight: bold;
		font-size: 1rem;
	}
	#contact textarea {
		border-radius: .3rem .3rem 0 0;
		resize: vertical;
	}
	#contact button {
		margin: -.5rem 0;
		border: 2px solid #ccc;
		border-radius: 0 0 .3rem .3rem;
		padding: .5rem;
		color: #124;
		background-color: #ccd;
	}
	#contact button:hover {
		color: #ccc;
		background-color: #124;
	}
/*Redes Sociales*/
	.social-media {
		background-color: #ccd;
		text-align: center;
	}
	.social-media img {
		height: 2rem;
		padding: 1rem;
		opacity: .35;
	}
	.social-media a:hover img {
		height: 3rem;
		padding: .5rem;
		opacity: 1;
	}
/*Autor: Cristian Racedo*/
